.input {
    padding: 8px 12px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    line-height: 24px;
    font-size: 16px;
    color: #1D1D1D;

    &--small {
        width: 66px;
    }

    &--icon-pointer {
        background: url(../images/pointer.svg) no-repeat 12px center;
        padding-left: 36px;
    }
}