.page_main {
    margin-top: 40px;

    @media(min-width: 768px) {
        margin-top: 56px;
    }

    &__header {
        line-height: 34px;
        font-size: 22px;
        font-weight: 400;
        color: #1D1D1D;
        margin: 0;
    }
}