.select {
    appearance: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 12px 0 10px 48px;
    color: #fff;
    font-size: 13px;
    font-family: inherit;
    line-height: 18px;
    display: block;
    width: 100%;
    background: url(../images/world.svg) no-repeat 16px center, url(../images/arrow.svg) no-repeat right 8px center, #3B3B3B;
    border-radius: 2px;
}