.socials {
    margin-top: 32px;

    &__header {
        font-size: 16px;
    }

    &__sign {
        color: #49A144;
    }

    &__name {
        color: #fff;
    }

    &__links {
        list-style: none;
        padding: 0;
        margin: 16px 0 0 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__item {
        margin-right: 12px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}