.xs_address_form
  .xs_address_form__container.container
    form.xs_address_form__inner(aria-label="Адрес и время доставки")
      .xs_address_form__group
        label.xs_address_form__label(for="time") Когда
        input.xs_address_form__input.input.input--small(id="time" value="ASAP")
      .xs_address_form__group
        label.xs_address_form__label(for="address") Куда
        input.xs_address_form__input.input.input--icon-pointer(id="address" value="ул. Большая Дмитровка, 22" size="23")
