extends ../layout

block title
  | UberEats

block content
  include partials/page_header
  include partials/xs_address_form
  include partials/search_form
  include partials/page_main
  include partials/page_footer